html {
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
  }
  *, *:before, *:after {
    box-sizing:         inherit;
    -moz-box-sizing:    inherit;
    -webkit-box-sizing: inherit;
}

@-ms-viewport {
    width: device-width;
 }

body {
    font-family: 'Montserrat', sans-serif;
}

.title {
    text-align: center;
}

.status-container {
    margin: 40px auto;
    text-align: center;
    font-size: 22px;
}

.status-container span {
    font-weight: 700;
}

.hidden {
    display: none;
}

.alert {
    color: #871010;
}

.cool {
    color: #0a540f;
}

.people_chart .ct-series-a .ct-bar {
    stroke: #216996;
    stroke-width: 25px;
}

.table {
    margin: auto;
}

@media all and (max-width: 768px) {

    h1.title.is-1 {
        font-size: 2.4rem;
        line-height: 1.2;
    }

    h4.title.is-4 {
        font-size: 1.2rem;
        line-height: 1.2;
    }

    .people_chart .ct-series-a .ct-bar {
        stroke-width: 15px;
    }

    .section {
        padding: 1.5rem;
    }

    .column {
        padding-bottom: 2rem;
    }

}